:root{
    --yellow:#FFD100;
    --gray:#B5B3B3;
    --blue:#001489;
    --orange:#E35331;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    font-family: 'Questrial', sans-serif;
    background-color: #FFFEFA;
}

.container-fluid img{
    width: 125px;
    height: auto;
}
.header--line{
    width:100%;
    border: 1px solid var(--yellow);
}
/* Carousel */
.carousel--img{
    height: 156px;
}
/* COMPRAR */
.comprar--title{
    margin: 25px;
    font-size: 1.2rem;
    color: var(--orange);
    font-weight: 600;
    line-height: 13.8px;
}
.card-title{
    padding:4px;
}
.card{
    margin:22px auto;
    border-color: var(--gray);
}
.card-text{
    font-size: 1.5rem;
    line-height: 11.5px;
    padding-right: 60px;
}
/* Footer */
.footer--line{
    width:100%;
    border: 1px solid var(--yellow);
}
.footer--txt{
    font-size: 1.4rem;
    line-height: 16.1px;
}
.footer--dudas{
    width: 137px;
    margin:22px;
}
.footer--legales{
    width:137px;
    margin-left:22px;
    
}
.footer--legales h3{
    font-weight: bold;
}
.footer--legales a{
    text-decoration: none;
    color:black;
    line-height: 11.5px;
}
.footer-company{
    display: grid;
    grid-column: auto auto;
}
.footer-company{
    width: 256px;
    margin:22px;
}
.footer-company h3{
    font-weight: bold;
}
.footer-company-logo{
    width:50px;
    height: 50px;
}
@media(min-width:720px){
    .container-fluid img{
        width: 344px;
        height: auto;
    }
    .header--line{
        width:100%;
        border: 2px solid var(--yellow);
    }
    /* Carousel */
    .carousel--img{
    height: 624px;
    }
    /* COMPRAR */
    .comprar--title{
    margin-left: 88px;
    font-size: 2.4rem;
    line-height: 27.6px;
    }
    /* Comprar */
    .card-title{
        padding:4px;
    }
    .card{
        margin:22px auto;
        border-color: var(--gray);
    }
    .card-text{
        font-size: 1.5rem;
        line-height: 11.5px;
        padding-right: 60px;
    }

}