:root{
    --yellow:#FFD100;
    --gray:#B5B3B3;
    --blue:#001489;
    --orange:#E35331;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
    font-family: 'Questrial', sans-serif;
    background-color: #FFFEFA;
}
/* header */
.container-fluid img{
    width: 125px;
    height: auto;
}
.header--line{
    width:100%;
    border: 1px solid var(--yellow);
}
/* Carousel */
.carousel--img{
    height: auto;
}
.comprar--title{
    margin:18px;
    font-size: 1.2rem;
    line-height:1.3rem;
    font-weight: bold;
    color:var(--orange);
}
.comprar--productos{
    display:grid;
    grid-auto-flow: row; /*cambiar por column en desktop*/
    margin: auto 50px;
}
.card{
    margin-bottom: 20px;
}
.card-title{
    padding:8px;
    font-size: 1.2rem;
    line-height: 13.8px;
    font-weight: bold;
}
.card-text{
    padding:8px;
    font-size: 1.2rem;
    line-height: 13.8px;
}
.card-body img{
    padding-left: 55px;
}
/* Footer */
.footer--line{
    margin-top: 40px;
    width:100%;
    border: 1px solid var(--yellow);
}
.footer--txt{
    font-size: 1.4rem;
    line-height: 16.1px;
}
.footer--dudas{
    width: 137px;
    margin:22px;
}
.footer--legales{
    width:200px;
    margin-left:22px;
    
}
.footer--legales h3{
    font-weight: bold;
}
.footer--legales ul{
    margin-left: -20px;
    list-style-type:none;
}
.footer--legales a{
    color:black;
    line-height: 11.5px;
}
.footer-company{
    display: grid;
    grid-column: auto auto;
}
.footer-company{
    width: 256px;
    margin:22px;
}
.footer-company h3{
    font-weight: bold;
}
.footer-company-logo{
    width:50px;
    height: 50px;
}
@media(min-width:720px){
    /* header */
    .container-fluid img{
        width: 344px;
        height: auto;
    }
    .header--line{
        width:100%;
        border: 2px solid var(--yellow);
    }
    
    /* Comprar */
    .comprar--title{
        font-size: 2.4rem;
        line-height:2.7rem;
    }
    .comprar--productos{
        display:grid;
        grid-auto-flow: column; /*cambiar por column en desktop*/
        justify-content: space-evenly;
        margin: auto 50px;
    }
    .card{
        margin-bottom: 20px;
    }
    .card-img-top{
        width:170px;
        height: auto;
    }
    .card-title{
        padding:8px;
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: bold;
    }
    .card-text{
        padding:8px;
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .card-body img{
        padding-left: 30px;
    }
    /* Footer */
    .footer--line{
        border: 2px solid var(--yellow);
    }
    .footer--layout{
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }
    .footer--txt{
        font-size: 1.8rem;
        line-height: 2rem
    }
    .footer--dudas{
        width: 390px;
        margin:22px;
    }
    .footer--legales{
        width:245px;
        margin-left:22px;
        
    }
    .footer--legales h3{
        font-weight: bold;
    }
    .footer--legales a{
        text-decoration: none;
        font-size: 1.8rem;
        line-height: 2rem
    }
    .footer-company{
        display: grid;
        grid-column: auto auto;
    }
    .footer-company{
        width: 424px;
        margin:22px;
    }
    .footer-company h3{
        font-weight: bold;
    }
    .footer-company-logo{
        width:80px;
        height: 80px;
    }

}